""""
{{ module_docstring }}
"""
{% if imports %}
{% for import_item in imports %}
import {{ import_item }}
{% endfor %}
{% endif %}
from typing import Any, Optional

from dependencies import Dependencies


{% for function in functions %}

def {{ function.name }}(
{% for param in function.parameters %}
    {{ param.name }}: {{ param.type }}{% if param.default %} = {{ param.default }}{% endif %}{% if not loop.last %},{% endif %}
{% endfor %}
) -> {{ function.returns.type }}:
    """
    {{ function.docstring }}
    
    Args:
{% for param in function.parameters %}
        {{ param.name }}: {{ param.description }}
{% endfor %}
        
    Returns:
        {{ function.returns.description }}
    """
    {{ function.body | indent(4, true) }}

{% endfor %}