anthropic
duckdb
numpy
pandas
Pillow
psutil
pydantic
pydub
pymediainfo
PyPDF2
python-docx
python-magic
pytesseract
reportlab
openai
openai-whisper
openpyxl
tqdm
nltk
rouge
pyyaml
opencv-contrib-python-headless # https://pypi.org/project/opencv-python/ NOTE: 56.1 mb