#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Test file for {{ module_name }}.py
Generated automatically by test generator at {{ current_date }}
"""
{% if future_imports %}
{% for future_import in future_imports %}
{{ future_import }}
{% endfor %}
{% endif %}

import unittest
from unittest.mock import AsyncMock, MagicMock, Mock, patch

{% if imports %}
{% for import_stmt in imports %}
{{ import_stmt }}
{% endfor %}
{% endif %}

{% if functions %}
class TestFunctions{{ module_name.replace('_', ' ').title().replace(' ', '') }}(unittest.TestCase):
    """Unit tests for all standalone functions in {{ module_name }}.py"""

    def setUp(self) -> None:
        """Set up test class"""
        pass

    def tearDown(self) -> None:
        """Tear down test class"""
        pass

    {% for function in functions %}
    def test_{{ function.name }}(self) -> None:
        """Basic unit tests for {{ function.name }} function"""
        # TODO: Write test for {{ function.name }}
        {% if function.docstring %}
        # Docstring:
        {% for doc_line in function.docstring%}
        # {{ doc_line.lstrip() }}
        {% endfor%}
        {% endif %}
        {% if function.args %}
        # Function takes args: {{ function.args|join(', ') }}
        {% endif %}
        {% if function.returns %}
        # Function returns: {{ function.returns }}
        {% endif %}
        raise NotImplementedError("Test for {{ function.name }} has not been written.")

    {% endfor %}
{% endif %}

{% if coroutines %}
class TestAsyncFunctions{{ module_name.replace('_', ' ').title().replace(' ', '') }}(unittest.TestCase):
    """Unit tests for all standalone async functions in {{ module_name }} module"""

    def setUp(self) -> None:
        """Set up test class"""
        pass

    def tearDown(self) -> None:
        """Tear down test class"""
        pass

    {% for coroutine in coroutines %}
    async def test_{{ coroutine.name }}(self) -> None:
        """Unit test for {{ coroutine.name }} coroutine"""
        # TODO: Write test for {{ coroutine.name }}
        {% if coroutine.docstring %}
        # Docstring:
        {% for doc_line in coroutine.docstring%}
        # {{ doc_line }}
        {% endfor %}
        {% endif %}
        {% if coroutine.args %}
        # Coroutine takes args: {{ coroutine.args|join(', ') }}
        {% endif %}
        {% if coroutine.returns %}
        # Function returns: {{ function.returns }}
        {% endif %}
        raise NotImplementedError("Test for {{ coroutine.name }} has not been written.")
    
    {% endfor %}
{% endif %}
{% if classes %}
# Test classes

{% for class_info in classes %}
class TestClass{{ class_info.name }}(unittest.TestCase):
    """Unit tests for the {{ class_info.name }} class
    
    {% if class_info.docstring %}
    Class docstring: 
    {% for doc_line in class_info.docstring%}
    {{ doc_line.lstrip() }}
    {% endfor%}
    {% endif %}

    {% if class_info.imports %}
    Internal class imports:
    {% for import_stmt in class_info.imports %}
    {{ import_stmt }}
    {% endfor %}
    {% endif %}
    """
    
    def setUp(self) -> None:
        """Set up test class"""
        {% if class_info.attribute %}
        {% for attr in class_info.attribute  %}
        self.mock_{{ attr }} = MagicMock()
        {% endfor %}
        {% else %}
        pass
        {% endif %}

    def tearDown(self) -> None:
        """Tear down test class"""
        pass

    def test_init(self) -> None:
        """Unit test {{ class_info.name }} initialization"""
        # TODO: Write test for {{ class_info.name }}.__init__
        raise NotImplementedError("Test for {{ class_info.name }}.__init__ has not been written.")
    {% for method in class_info.methods %}
    {% if method.name != '__init__' %}
    def test_{{ method.name }}(self) -> None:
        """Unit test for {{ method.name }} method"""
        # TODO: Write test for {{ method.name }}
        {% if method.docstring %}
        # Docstring:
        {% for doc_line in method.docstring%}
        # {{ doc_line }}
        {% endfor%}
        {% endif %}
        {% if method.args %}
        # Method takes args: {{ method.args|join(', ') }}
        {% endif %}
        raise NotImplementedError("Test for {{ method.name }} has not been written.")
    {% endif %}
    {% endfor %}
{% endfor %}
{% endif %}

if __name__ == "__main__":
    unittest.main()